<!-- <app-navbar></app-navbar> -->

<div class="container my-2 animate__animated animate__shakeX animate__repeat-1">
  <h1 class="text-center fw-bolder my-2">
    Inventario Papeleria Universal Distribuidora SAS
  </h1>
  <h4 class="text-center fw-bold">Registro de Usuario</h4>
</div>

<div class="container pb-5">
  <form class="py-5" [formGroup]="loginForm" (ngSubmit)="onRegister()">
    <mat-card class="shipping-card">
      <mat-card-content>
        <div class="row">
          <div class="col svg">
            <img [src]="['../../../../../assets/img/login.png']" alt="" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Nombre</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Wisthong"
              />
              <mat-error
                *ngIf="
                  loginForm.controls['name'].touched &&
                  loginForm.controls['name'].hasError('required')
                "
              >
                Campo requerido
              </mat-error>
              <!-- <mat-error
                *ngIf="
                  loginForm.controls['name'].touched &&
                  loginForm.controls['name'].hasError('name')
                "
              >
                Debes ingresar un email
              </mat-error> -->
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Apellido</mat-label>
              <input
                type="text"
                matInput
                formControlName="lastname"
                placeholder="Martinez"
              />
              <mat-error
                *ngIf="
                  loginForm.controls['lastname'].touched &&
                  loginForm.controls['lastname'].hasError('required')
                "
              >
                Campo requerido
              </mat-error>
              <!-- <mat-error
                *ngIf="
                  loginForm.controls['lastname'].touched &&
                  loginForm.controls['lastname'].hasError('email')
                "
              >
                Debes ingresar un email
              </mat-error> -->
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="test@example.com"
              />
              <mat-error
                *ngIf="
                  loginForm.controls['email'].touched &&
                  loginForm.controls['email'].hasError('required')
                "
              >
                Campo requerido
              </mat-error>
              <mat-error
                *ngIf="
                  loginForm.controls['email'].touched &&
                  loginForm.controls['email'].hasError('email')
                "
              >
                Debes ingresar un email
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="ruta === 'register'">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                placeholder="******"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  loginForm.controls['password'].touched &&
                  loginForm.controls['password'].hasError('required')
                "
              >
                Campo requerido
              </mat-error>
              <mat-error
                *ngIf="
                  loginForm.controls['password'].touched &&
                  loginForm.controls['password'].hasError('minlength')
                "
              >
                Debes ingresar al menos 5 caracteres
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="ruta === 'update'">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Roles</mat-label>
              <mat-select placeholder="Roles" formControlName="role">
                <mat-option *ngFor="let rol of roles" [value]="rol">
                  {{ rol | titlecase }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  loginForm.controls['role'].touched &&
                  loginForm.controls['role'].hasError('required')
                "
              >
                Campo requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <div class="d-grid mx-4 mb-3">
        <button
          class="animate__animated animate__pulse animate__repeat-3"
          type="submit"
          mat-fab
          extended
          matTooltip="Iniciar Sesion"
          color="primary"
        >
          <mat-icon>login</mat-icon>
          Confirmar
        </button>
      </div>
    </mat-card>
  </form>
</div>
