<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/admin']">Dashboard</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
          Inventario Distribuidora Universal
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['/admin/create']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Registrar</a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Listas de dispositivos
            </a>

            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a
                  class="dropdown-item"
                  aria-current="page"
                  [routerLink]="['/admin/listageneral']"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Lista de dispositivos</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>

              <li>
                <a
                  class="dropdown-item"
                  [routerLink]="['/admin/listadispactivos']"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Dispositivos activos</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  [routerLink]="['/admin/listadispinactivos']"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Dispositivos inactivos</a
                >
              </li>
              <!-- <li><hr class="dropdown-divider" /></li> -->
              <li>
                <a
                  class="dropdown-item"
                  [routerLink]="['/admin/listadispmant']"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Dispositivos en mantenimiento</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              role="button"
              (click)="onCerrarSesion()"
              class="nav-link"
              aria-current="page"
              >Cerrar sesion</a
            >
          </li>
        </ul>
        <!-- <form class="d-flex mt-3" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </div>
</nav>

<!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/admin']">Dashboard</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Listar
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                aria-current="page"
                [routerLink]="['/admin/listageneral']"
                >Lista de dispositivos</a
              >
            </li>

            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/admin/create']"
            >Registrar</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav> -->
