<p-menubar
  [model]="items"
  [style]="{
    'background-color': '#ada996',
    background: 'linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea)'
  }"
>
  <ng-template pTemplate="start">
    <a [routerLink]="['/home']">
      <img src="../../../../../assets/img/logo.png" height="40" class="mr-2" />
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <button
      class="animate__animated animate__pulse animate__repeat-3"
      extended
      (click)="onRedirigir()"
      matTooltip="Iniciar Sesión"
      type="submit"
      mat-mini-fab
      color="warn"
    >
      <mat-icon>people</mat-icon>
    </button>
    <!-- <input type="text" pInputText placeholder="Search"> -->
  </ng-template>
</p-menubar>

<p class="pb-4"></p>
