<app-navbar></app-navbar>

<div class="container my-2">
  <h1 class="text-center fw-bolder my-2">
    Inventario Papeleria Universal Distribuidora SAS
  </h1>
  <h4 class="text-center fw-bold">Detalles de dispostivo</h4>
  <!-- {{ device | json}} -->
</div>

<mat-card class="example-card" *ngIf="device">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{ device.device }} </mat-card-title>
    <mat-card-subtitle> {{ device.hostname }} </mat-card-subtitle>
  </mat-card-header>
  <div [ngSwitch]="device.device" class="container text-center">
    <div *ngSwitchCase="'Computador todo en uno'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/pctodoenuno.png"
        width="400"
        height="500"
        priority
        alt="Foto de PC Todo en uno"
      />
    </div>
    <div *ngSwitchCase="'Computador portatil'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/laptop.jpg"
        width="400"
        height="500"
        priority
        alt="Foto de laptop"
      />
    </div>
    <div *ngSwitchCase="'Camara'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/camara.jpg"
        width="400"
        height="500"
        priority
        alt="Foto de camara"
      />
    </div>
    <div *ngSwitchCase="'DVR'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/DVR.jpg"
        width="400"
        height="500"
        priority
        alt="Foto DVR"
      />
    </div>
    <div *ngSwitchCase="'Impresora'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/impresora.jpg"
        width="400"
        height="500"
        priority
        alt="Foto de Impresora"
      />
    </div>
    <div *ngSwitchCase="'Lectores de barra'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/lectores.jpeg"
        width="400"
        height="500"
        priority
        alt="Foto de Lectores de barra"
      />
    </div>
    <div *ngSwitchCase="'NVR'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/NVR.png"
        width="400"
        height="500"
        priority
        alt="Foto de NVR"
      />
    </div>
    <div *ngSwitchCase="'Router'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/router.jpg"
        width="400"
        height="500"
        priority
        alt="Foto de Router"
      />
    </div>
    <div *ngSwitchCase="'Switch'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/switch.jpg"
        width="400"
        height="500"
        priority
        alt="Foto de Switch"
      />
    </div>
    <div *ngSwitchCase="'Televisor'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/televisor.png"
        width="400"
        height="500"
        priority
        alt="Foto de Televisor"
      />
    </div>
    <div *ngSwitchCase="'Torre'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/pctorre.jpg"
        width="400"
        height="500"
        priority
        alt="Foto PC Torre"
      />
    </div>
    <div *ngSwitchCase="'Video beam'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/videobeam.png"
        width="400"
        height="500"
        priority
        alt="Foto de Video beam"
      />
    </div>
    <div *ngSwitchCase="'Raspberry'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/raspberry.jpg"
        width="400"
        height="500"
        priority
        alt="Foto de Raspberry"
      />
    </div>
    <div *ngSwitchCase="'Terminal'">
      <img
        mat-card-image
        ngSrc="../../../../../assets/img/terminal.png"
        width="400"
        height="500"
        priority
        alt="Foto de Terminal"
      />
    </div>

    <div *ngSwitchDefault>
      <img
        mat-card-image
        ngSrc="https://material.angular.io/assets/img/examples/shiba2.jpg"
        width="400"
        height="500"
        priority
        alt="Photo of a Shiba Inu"
      />
    </div>
  </div>
  <mat-card-content>
    <p>
      <strong> IP:</strong> <em class="text-primary"> {{ device.ip }}</em>
    </p>
    <p>
      <strong>Area:</strong> <em class="text-primary"> {{ device.area }}</em>
    </p>
    <p>
      <strong>Centro de operación:</strong>
      <em class="text-primary"> {{ device.co }}</em>
    </p>
    <p>
      <strong>Valor de compra:</strong>
      <em class="text-primary"> {{ device.precio | currency : "COP" }}</em>
    </p>
    <p>
      <strong>Proveedor:</strong>
      <em class="text-primary"> {{ device.providers }}</em>
    </p>
    <p>
      <strong> Fecha de ingreso:</strong
      ><em class="text-primary"> {{ device.fecha_ingreso | date }}</em>
    </p>
    <p>
      <strong> Estado:</strong>
      <em class="text-primary"> {{ device.estado }}</em>
    </p>
    <p>
      <strong>Fecha de baja:</strong
      ><em class="text-primary"> {{ device.fecha_baja | date }}</em>
    </p>
    <p>
      <strong>Disco duro:</strong>
      <em class="text-primary"> {{ device.discoduro }}</em>
    </p>
    <p>
      <strong>Ram:</strong><em class="text-primary"> {{ device.ram | gb }}</em>
    </p>
    <p>
      <strong>Procesador:</strong>
      <em class="text-primary"> {{ device.procesador }}</em>
    </p>
    <p>
      <strong>Sistema Operativo:</strong>
      <em class="text-primary"> {{ device.so }}</em>
    </p>
    <p>
      <strong>Antivirus:</strong>
      <em class="text-primary"> {{ device.antivirus }}</em>
    </p>
    <p>
      <strong> Licencias:</strong>
      <em class="text-primary"> {{ device.licencias }}</em>
    </p>
    <p>
      <strong>Descripción: </strong
      ><em class="text-primary"> {{ device.descripcion }}</em>
    </p>
  </mat-card-content>
  <div class="btn-group gap-4 m-4">
    <button
      (click)="onBack()"
      matTooltip="Regresar"
      type="submit"
      mat-raised-button
      color="primary"
    >
      <mat-icon>undo</mat-icon> Regresar
    </button>
    <!-- <a role="button" [routerLink]="['/home']" mat-raised-button color="primary"> -->

    <a
      *ngIf="flag"
      role="button"
      [routerLink]="['/admin/update/' + device._id]"
      mat-raised-button
      matTooltip="Actualizar"
      color="warn"
    >
      <mat-icon>build</mat-icon> Actualizar
    </a>
  </div>
  <mat-card-actions> </mat-card-actions>
</mat-card>
