.example-card {
  max-width: 100%;
}

.example-header-image {
  background-image: url("../../../../../assets/img/login.png");
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}

img {
  width: 500px;
  height: 500px;
}

@media (max-width: 500px) {
  img{
    width: 100%;
  }
}

p{
  color: black;
}
