<app-navbar></app-navbar>

<div class="table-responsive">
  <h1 class="text-center fw-bolder">
    Inventario Papeleria Universal Distribuidora SAS
  </h1>
  <h4 class="text-center fw-bold">
    {{ titulo }} {{ totalPorEstado | currency : "COP" }}
  </h4>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8"
  >
    <!-- Symbol Column IP-->
    <ng-container matColumnDef="ip">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by ip"
      >
        IP
      </th>
      <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
    </ng-container>

    <!-- Name Hostname -->
    <ng-container matColumnDef="hostname">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by hostname"
      >
        Hostname
      </th>
      <td mat-cell *matCellDef="let element">{{ element.hostname }}</td>
    </ng-container>

    <!-- Position Device -->
    <ng-container matColumnDef="device">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        Dispositivo
      </th>
      <td mat-cell *matCellDef="let element">{{ element.device }}</td>
    </ng-container>

    <!-- Symbol Column Descripcion-->
    <ng-container matColumnDef="descripcion">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by descripcion"
      >
        Descripcion
      </th>
      <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
    </ng-container>

    <!-- Symbol Column Centro de operacion-->
    <ng-container matColumnDef="area">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by area"
      >
        Area
      </th>
      <td mat-cell *matCellDef="let element">{{ element.area }}</td>
    </ng-container>

    <!-- Symbol Column Centro de operacion-->
    <ng-container matColumnDef="co">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by co"
      >
        Centro de operacion
      </th>
      <td mat-cell *matCellDef="let element">{{ element.co }}</td>
    </ng-container>

    <!-- Symbol Column Precio-->
    <ng-container matColumnDef="precio">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by precio"
      >
        Valor de compra
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.precio | currency : "COP" }}
      </td>
    </ng-container>

    <!-- Symbol Column Proveedor-->
    <ng-container matColumnDef="providers">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by providers"
      >
        Proveedor
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.providers }}
      </td>
    </ng-container>

    <!-- Symbol Column Fecha ingreso-->
    <ng-container matColumnDef="fecha_ingreso">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by fecha_ingreso"
      >
        Fecha de ingreso
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.fecha_ingreso | date }}
      </td>
    </ng-container>

    <!-- Symbol Column Estados-->
    <ng-container matColumnDef="estado">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by estado"
      >
        Estado
      </th>
      <td
        [ngClass]="{
          activo: element.estado === 'Activo',
          inactivo: element.estado === 'Inactivo',
          mtn: element.estado === 'Mantenimiento'
        }"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.estado }}
      </td>
    </ng-container>

    <!-- Symbol Column Fecha de baja-->
    <ng-container matColumnDef="fecha_baja">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by fecha_baja"
      >
        Fecha de baja
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.fecha_baja | date }}
      </td>
    </ng-container>

    <!-- Symbol Column Fecha de baja-->
    <ng-container matColumnDef="discoduro">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by discoduro"
      >
        Disco duro
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.discoduro }}
      </td>
    </ng-container>

    <!-- Weight RAM -->
    <ng-container matColumnDef="ram">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by ram"
      >
        Ram
      </th>
      <td mat-cell *matCellDef="let element">{{ element.ram | gb }}</td>
    </ng-container>

    <!-- Weight Procesador -->
    <ng-container matColumnDef="procesador">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by procesador"
      >
        Procesador
      </th>
      <td mat-cell *matCellDef="let element">{{ element.procesador }}</td>
    </ng-container>

    <!-- Weight SO -->
    <ng-container matColumnDef="so">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by so"
      >
        SO
      </th>
      <td mat-cell *matCellDef="let element">{{ element.so }}</td>
    </ng-container>

    <!-- Symbol Column Antivirus-->
    <ng-container matColumnDef="antivirus">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by antivirus"
      >
        Antivirus
      </th>
      <td mat-cell *matCellDef="let element">{{ element.antivirus }}</td>
    </ng-container>

    <!-- Symbol Column Licencias-->
    <ng-container matColumnDef="licencias">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by licencias"
      >
        Licencias
      </th>
      <td mat-cell *matCellDef="let element">{{ element.licencias }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <!-- Copyright 2023 Google LLC. All Rights Reserved.
 Use of this source code is governed by an MIT-style license that
 can be found in the LICENSE file at https://angular.io/license -->
</div>
