footer {
  min-height: 10%;
  width: 100%;
  position: absolute;
}

@media (max-width: 1600px) {
  .container-fluid {
    min-height: 77%;
  }
}

@media (min-width: 1601px) {
  .container-fluid {
    min-height: 85%;
  }
}
