.container-fluid {
  min-height: 82%;
}

footer {
  min-height: 10%;
  width: 100%;
  position: absolute;
}

@media (max-width: 1600px), (max-height: 900px) {
  .container-fluid {
    min-height: 77%;
  }
}
