.activo {
  background-color: #2ec4b6;
  color: white;
}
.inactivo {
  background-color: #d62828;
  color: white;
}
.mtn {
  background-color: #ffba08;
  color: white;
}

.mat-mdc-form-field {
  font-size: 14px;
  text-align: center;
  width: 80%;
}
